@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham SSm';
  src: url('./assets/GothamSSm.woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gotham SSm', sans-serif;
}
